<a href="https://colab.research.google.com/github/kaveen2004/-used_car_sales_-dataset-/blob/main/used_car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [10]:
df = pd.read_csv('/content/drive/MyDrive/used_car_sales.csv')

In [11]:
df.head()

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
0,O2KE17,Carmudi,California,Fortuner,Toyota,SUV,Gray,Automatic,8,5,...,2022-10-26,Un Sold,1970-01-01,8296,0,0,Pranav,1,0,Average
1,EPMPC8,Carousell,Philadelphia,Creta,Hyundai,Hatchback,Blue,Automatic,5,5,...,2017-08-25,Sold,2021-03-03,5659,4770,-16,Vihaan,5,0,Good
2,SQKXAP,Carsome,North Carolina,Scorpio,Mahindra,SUV,Gray,Automatic,5,5,...,2018-06-13,Un Sold,1970-01-01,8430,0,0,Aarush,4,0,Good
3,PWP2QK,Trivett,North Carolina,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2023-05-14,Sold,2024-04-02,6919,7942,15,Anushka,1,205,Average
4,FNDDKM,Zupps,Portland,Dzire,Maruti,Sedan,Red,Automatic,5,5,...,2022-08-24,Un Sold,1970-01-01,6864,0,0,Pavan,3,0,Poor

In [12]:
df.isnull().sum()

ID                    0
Distributor Name      0
Location              0
Car Name              0
Manufacturer Name     0
Car Type              0
Color                 0
Gearbox               0
Number of Seats       0
Number of Doors       0
Energy                0
Manufactured Year     0
Price-$               0
Mileage-KM            0
Engine Power-HP       0
Purchased Date        0
Car Sale Status       0
Sold Date             0
Purchased Price-$     0
Sold Price-$          0
Margin-%              0
Sales Agent Name      0
Sales Rating          0
Sales Commission-$    0
Feedback              0
dtype: int64

In [13]:
df.dropna()

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
0,O2KE17,Carmudi,California,Fortuner,Toyota,SUV,Gray,Automatic,8,5,...,2022-10-26,Un Sold,1970-01-01,8296,0,0,Pranav,1,0,Average
1,EPMPC8,Carousell,Philadelphia,Creta,Hyundai,Hatchback,Blue,Automatic,5,5,...,2017-08-25,Sold,2021-03-03,5659,4770,-16,Vihaan,5,0,Good
2,SQKXAP,Carsome,North Carolina,Scorpio,Mahindra,SUV,Gray,Automatic,5,5,...,2018-06-13,Un Sold,1970-01-01,8430,0,0,Aarush,4,0,Good
3,PWP2QK,Trivett,North Carolina,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2023-05-14,Sold,2024-04-02,6919,7942,15,Anushka,1,205,Average
4,FNDDKM,Zupps,Portland,Dzire,Maruti,Sedan,Red,Automatic,5,5,...,2022-08-24,Un Sold,1970-01-01,6864,0,0,Pavan,3,0,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ZHLCSG,APE,Texas,Yodha,Tata,Truck,Blue,Manual,3,2,...,2023-12-29,Sold,2024-03-23,6102,5041,-17,Supriya,3,0,Excellent
9996,2BJE0Y,Carsome,Portland,Scorpio,Mahindra,SUV,Black,Automatic,5,5,...,2019-06-13,Un Sold,1970-01-01,8108,0,0,Aarush,4,0,Excellent
9997,4OVJ83,Trust,North Carolina,Seltos,Kia,Hatchback,Black,Automatic,5,5,...,2020-02-17,Un Sold,1970-01-01,5945,0,0,Pranav,4,0,Poor
9998,M2ECXT,Carsome,Detroit,Swift,Maruti,Sedan,Black,Automatic,5,4,...,2018-05-03,Un Sold,1970-01-01,6893,0,0,Swathi,2,0,Average
9999,28W445,Olx,Portland,Swift,Maruti,Sedan,White,Automatic,5,4,...,2024-05-18,Un Sold,1970-01-01,6771,0,0,Vihaan,5,0,Poor

In [14]:
df.fillna(value=0)

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
0,O2KE17,Carmudi,California,Fortuner,Toyota,SUV,Gray,Automatic,8,5,...,2022-10-26,Un Sold,1970-01-01,8296,0,0,Pranav,1,0,Average
1,EPMPC8,Carousell,Philadelphia,Creta,Hyundai,Hatchback,Blue,Automatic,5,5,...,2017-08-25,Sold,2021-03-03,5659,4770,-16,Vihaan,5,0,Good
2,SQKXAP,Carsome,North Carolina,Scorpio,Mahindra,SUV,Gray,Automatic,5,5,...,2018-06-13,Un Sold,1970-01-01,8430,0,0,Aarush,4,0,Good
3,PWP2QK,Trivett,North Carolina,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2023-05-14,Sold,2024-04-02,6919,7942,15,Anushka,1,205,Average
4,FNDDKM,Zupps,Portland,Dzire,Maruti,Sedan,Red,Automatic,5,5,...,2022-08-24,Un Sold,1970-01-01,6864,0,0,Pavan,3,0,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ZHLCSG,APE,Texas,Yodha,Tata,Truck,Blue,Manual,3,2,...,2023-12-29,Sold,2024-03-23,6102,5041,-17,Supriya,3,0,Excellent
9996,2BJE0Y,Carsome,Portland,Scorpio,Mahindra,SUV,Black,Automatic,5,5,...,2019-06-13,Un Sold,1970-01-01,8108,0,0,Aarush,4,0,Excellent
9997,4OVJ83,Trust,North Carolina,Seltos,Kia,Hatchback,Black,Automatic,5,5,...,2020-02-17,Un Sold,1970-01-01,5945,0,0,Pranav,4,0,Poor
9998,M2ECXT,Carsome,Detroit,Swift,Maruti,Sedan,Black,Automatic,5,4,...,2018-05-03,Un Sold,1970-01-01,6893,0,0,Swathi,2,0,Average
9999,28W445,Olx,Portland,Swift,Maruti,Sedan,White,Automatic,5,4,...,2024-05-18,Un Sold,1970-01-01,6771,0,0,Vihaan,5,0,Poor

In [15]:
df.rename(columns={'Car Type' : 'Body type'},inplace = True)

In [16]:
df = df.drop_duplicates()

In [17]:
if 'brand' in df.columns:
    df['brand'] = df['brand'].str.lower().str.strip()

In [18]:
df.rename(columns={'Car Type' : 'Body type'},inplace = True)

In [19]:
if 'price' in df.columns:
    df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  10000 non-null  object
 1   Distributor Name    10000 non-null  object
 2   Location            10000 non-null  object
 3   Car Name            10000 non-null  object
 4   Manufacturer Name   10000 non-null  object
 5   Body type           10000 non-null  object
 6   Color               10000 non-null  object
 7   Gearbox             10000 non-null  object
 8   Number of Seats     10000 non-null  int64
 9   Number of Doors     10000 non-null  int64
 10  Energy              10000 non-null  object
 11  Manufactured Year   10000 non-null  int64
 12  Price-$             10000 non-null  int64
 13  Mileage-KM          10000 non-null  int64
 14  Engine Power-HP     10000 non-null  int64
 15  Purchased Date      10000 non-null  object
 16  Car Sale Status     10000 non-null  object
 17  Sold Date           10000 non-null  object
 18  Purchased Price-$   10000 non-null  int64
 19  Sold Price-$        10000 non-null  int64
 20  Margin-%            10000 non-null  int64
 21  Sales Agent Name    10000 non-null  object
 22  Sales Rating        10000 non-null  int64
 23  Sales Commission-$  10000 non-null  int64
 24  Feedback            10000 non-null  object
dtypes: int64(11), object(14)
memory usage: 1.9+ MB
None

In [21]:
df.to_csv('cleaned_used_car_sales.csv', index=False)